/*
!/.*

/.arduino15
/Arduino
/.bash*
/.cache
/.e
/.elementary
/.gnupg
/.gtkrc-2.0
/.ICEauthority
/.java
/.keras
/.kodi
/.lesshst
/.local
/.mozilla
/.nyx
/.pki
/.ssh
/.swt
/.tor-browser-en
/.wget-hsts
/.Xauthority
/.xsession-errors
/.xsession-errors.old
/.yadm
/.zcompdump*
/.zsh_history

.DS_*
*.log
*.swp
*.swo

*secret*
*hist*
*viminfo*
*compdump*
*password*
*export*
/.gtm/

*chromium*
